#weixin-search-logo
    background-image: url('../img/weixin_search.png')
    background-size: contain
    background-repeat: no-repeat
    width: 157px
    height: 27px
    margin-bottom: 1rem

#weixin-search-text
    .icon
        color: inherit
        opacity: 0.3
